body {
  background-color: #964b00;
}

h1 {
  text-align: center;
  color: white;
  text-decoration-line: underline;
}

h2 {
  color: white;
}

p {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
